<div>
  <cal-display [currentValue]="displayValue" />
</div>
<div>
  <cal-button [buttonValue]="'C'" (pressed)="deleteOne()" />

  <cal-button [buttonValue]="1" (pressed)="appendDisplay($event)" />
  <cal-button [buttonValue]="2" (pressed)="appendDisplay($event)" />
  <cal-button [buttonValue]="3" (pressed)="appendDisplay($event)" />

  <cal-button [buttonValue]="4" (pressed)="appendDisplay($event)" />
  <cal-button [buttonValue]="5" (pressed)="appendDisplay($event)" />
  <cal-button [buttonValue]="6" (pressed)="appendDisplay($event)" />

  <cal-button [buttonValue]="7" (pressed)="appendDisplay($event)" />
  <cal-button [buttonValue]="8" (pressed)="appendDisplay($event)" />
  <cal-button [buttonValue]="9" (pressed)="appendDisplay($event)" />

  <cal-button [buttonValue]="0" (pressed)="appendDisplay($event)" />
</div>
